body {
  background-image: url("https://images.unsplash.com/photo-1581947454454-daf5f7200128?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bW91bnRhaW5zJTIwYnklMjBuaWdodHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: contrast(1.35) brightness(0.65);
  /* opacity: 0.8; */
  /* background-color: rgba(0, 0, 0, 0.4); */

  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

/* .card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
} */

/* .container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
} */

.rating li,
.num-display {
  position: relative;
  background: #f4f4f4;
  /* width: 50px; */
  height: 50px;
  /* padding: 10px; */
  text-align: center;
  /* border-radius: 50%; */
  font-size: 19px;
  /* border: 1px #eee solid; */
  /* transition: 0.3s; */
}

.rating li:hover,
.num-display {
  background: #ff6a95;
  color: #fff;
}

/* .num-display {
  position: absolute;
  top: 10px;
  left: 10px;
} */
