body {
  background-image: url("https://images.unsplash.com/photo-1581947454454-daf5f7200128?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bW91bnRhaW5zJTIwYnklMjBuaWdodHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: contrast(1.35) brightness(0.65);

  /* font-family: "Noto Sans JP", sans-serif; */
  /* font-family: "Alfa Slab One", cursive; */
  /* font-family: "Rock Salt", cursive; */
  font-family: "Short Stack", cursive;
}
